<!-- Might want to for loop this using ngfor -->

<div class="card-container">
    <div class="card mb-6" style="max-width: 800px;">
        <div class="row">
            <div class="col-md-7">
                <img src="../../assets/images/projects/global/2020-uganda.png" class="card-img" alt="2020-uganda">
            </div>
            <div class="col-md-5">
                <div class="card-body">
                    <h5 class="card-title">Education and Health</h5>
                    <p class="card-text">
                        Project: School Gardens Project<br />
                        Location: Uganda<br />
                        Partner: Reach the Youth Uganda<br />
                    </p>
                    <a routerLink="/local/vancouver">Learn More</a>
                    <p class="card-text"><small class="text-muted">2020</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-6" style="max-width: 800px;">
        <div class="row">
            <div class="col-md-7">
                <img src="../../assets/images/projects/global/2019-sri-lanka.jpg" class="card-img" alt="2019-sri-lanka">
            </div>
            <div class="col-md-5">
                <div class="card-body">
                    <h5 class="card-title">Water Project</h5>
                    <p class="card-text">
                        Project: Water Supply System (Dug Well and Public Water Taps)<br />
                        Location: Upooral, Sri Lanka<br />
                        Partner: Our Society (Canadian Division)<br />
                    </p>
                    <a routerLink="/local/cyber-seniors">Learn More</a>
                    <p class="card-text"><small class="text-muted">2019</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-6" style="max-width: 800px;">
        <div class="row">
            <div class="col-md-7">
                <img src="../../assets/images/projects/global/2019-uganda.png" class="card-img" alt="2019-uganda">
            </div>
            <div class="col-md-5">
                <div class="card-body">
                    <h5 class="card-title">Economic Empowerment Project</h5>
                    <p class="card-text">
                        Project: Youth Vocational Training and Piggery Project<br />
                        Location: Mbarara, Uganda<br />
                        Partner: Reach the Youth<br />
                    </p>
                    <a routerLink="/local/care-packages">Learn More</a>
                    <p class="card-text"><small class="text-muted">2018 - 2019</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-6" style="max-width: 800px;">
        <div class="row">
            <div class="col-md-7">
                <img src="../../assets/images/projects/global/2017-irrigation-nepal.png" class="card-img"
                    alt="2017-irrigation-nepal">
            </div>
            <div class="col-md-5">
                <div class="card-body">
                    <h5 class="card-title">Water Project</h5>
                    <p class="card-text">
                        Project: Water Irrigation System<br />
                        Location: Kubukasthali, Nepal<br />
                        Partner: Tamakoshi Sewa Samiti<br />
                    </p>
                    <a routerLink="/local/children-camps">Learn More</a>
                    <p class="card-text"><small class="text-muted">2017</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-6" style="max-width: 800px;">
        <div class="row">
            <div class="col-md-7">
                <img src="../../assets/images/projects/global/2017-economy-uganda.jpg" class="card-img"
                    alt="2017-economy-uganda">
            </div>
            <div class="col-md-5">
                <div class="card-body">
                    <h5 class="card-title">Economic Empowerment Project</h5>
                    <p class="card-text">
                        Project: Microfinance<br />
                        Location: Wanteete Village, Uganda<br />
                        Partner: BESO Foundation<br />
                    </p>
                    <a routerLink="/local/children-camps">Learn More</a>
                    <p class="card-text"><small class="text-muted">2017</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-6" style="max-width: 800px;">
        <div class="row">
            <div class="col-md-7">
                <img src="../../assets/images/projects/global/2017-education-uganda.png" class="card-img"
                    alt="2017-education-uganda">
            </div>
            <div class="col-md-5">
                <div class="card-body">
                    <h5 class="card-title">Education Project</h5>
                    <p class="card-text">
                        Project: Education Project<br />
                        Location: Uganda<br />
                        Partner: BESO Foundation<br />
                    </p>
                    <a routerLink="/local/children-camps">Learn More</a>
                    <p class="card-text"><small class="text-muted">2017</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-6" style="max-width: 800px;">
        <div class="row">
            <div class="col-md-7">
                <img src="../../assets/images/projects/global/2016-hba1c-nepal.jpg" class="card-img"
                    alt="2016-hba1c-nepal">
            </div>
            <div class="col-md-5">
                <div class="card-body">
                    <h5 class="card-title">Health Project</h5>
                    <p class="card-text">
                        Project: HBA1C (Diabetes testing machine)<br />
                        Location: Manthali Municipality, Nepal<br />
                        Partner: Tamakoshi Sewa Samiti<br />
                    </p>
                    <a routerLink="/local/children-camps">Learn More</a>
                    <p class="card-text"><small class="text-muted">2016</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-6" style="max-width: 800px;">
        <div class="row">
            <div class="col-md-7">
                <img src="../../assets/images/projects/global/2015-purification-china.jpg" class="card-img"
                    alt="2015-purification-china">
            </div>
            <div class="col-md-5">
                <div class="card-body">
                    <h5 class="card-title">Water Project</h5>
                    <p class="card-text">
                        Project: Water Purification System<br />
                        Location: Yongxing, China<br />
                        Partner: Cixi Keyu Electrical Appliance Co. Ltd<br />
                    </p>
                    <a routerLink="/local/children-camps">Learn More</a>
                    <p class="card-text"><small class="text-muted">2015</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-6" style="max-width: 800px;">
        <div class="row">
            <div class="col-md-7">
                <img src="../../assets/images/projects/global/2014-gravity-nepal.jpg" class="card-img"
                    alt="2014-gravity-nepal">
            </div>
            <div class="col-md-5">
                <div class="card-body">
                    <h5 class="card-title">Water Project</h5>
                    <p class="card-text">
                        Project:Gravity-fed Water System<br />
                        Location: Sadaguan, Nepal<br />
                        Partner: Tamakoshi Sewa Samiti<br />
                    </p>
                    <a routerLink="/local/children-camps">Learn More</a>
                    <p class="card-text"><small class="text-muted">2014</small></p>
                </div>
            </div>
        </div>
    </div>
</div>