<div class="container-custom">
  <h1>About Us</h1>
  <p>
    CACTES stands for Caring About Communities Together to Eliminate Struggles.
    We are a not-for-profit organization based in Vancouver, Canada, working for
    social equality both locally and internationally. On the global scale, we
    direct our efforts in combating poverty through our three pillars: health,
    education and the economy. In the Greater Vancouver region, we run many
    programs to help those living below the poverty line as well as other
    estranged groups. By advocating for and administering projects of these
    domains, we hope to inspire a generation of change-makers ready to invest in
    a more promising future. CACTES' efforts to eliminate struggles around the
    world have been recognized by both the local and global community. Our
    achievements are many, including the prestigious YMCA Peace Medallion and
    consultations by the United Nations on our work in developing countries.
  </p>
  <hr>
  <h1>Our Mission</h1>
  <p>
    “To encourage members of the community to advocate and innovate for
    solutions that can abridge societal differences, advance economy, and
    improve health and education quality.”
  </p>
</div>