:host {
  width: 100%;
  height: 100vh;
  background-color: #E3E6E1;
}

h1 {
  margin-bottom: .5em;
}
textarea {
  min-height: 150px;
}

button {
  color: #352E2B;
  background-color: #B7C6C7;
  border-color: #B7C6C7;
}

button:hover {
  background-color: #a5b4b5;
  border-color: #B7C6C7;

}
.container-custom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20%;
  height: 100%;
}