<div class="card-container">
    <div class="card mb-6" style="max-width: 800px;">
        <div class="row">
            <div class="col-md-7">
                <img src="../../assets/images/projects/local/2018-van.jpg" class="card-img" alt="vancouver">
            </div>
            <div class="col-md-5">
                <div class="card-body">
                    <h5 class="card-title">Vancouver Case Study</h5>
                    <p class="card-text">Purposes:
                        <li>Understand the existing social gaps in the local community</li>
                        <li>Develop strategies to reduce such gaps in future generations.</li>
                    </p>
                    <a routerLink="/local/vancouver">Learn More</a>
                    <p class="card-text"><small class="text-muted">2018</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-6" style="max-width: 800px;">
        <div class="row">
            <div class="col-md-7">
                <img src="../../assets/images/projects/local/2016-cyber-senior.jpg" class="card-img"
                    alt="cyber-seniors">
            </div>
            <div class="col-md-5">
                <div class="card-body">
                    <h5 class="card-title">Cyber Seniors</h5>
                    <p class="card-text">Purposes:
                        <li>Reduce social gaps in the local community.</li>
                        <li>Connect two distinct generations.</li>
                    </p>
                    <a routerLink="/local/cyber-seniors">Learn More</a>
                    <p class="card-text"><small class="text-muted">2016 - Present</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-6" style="max-width: 800px;">
        <div class="row">
            <div class="col-md-7">
                <img src="../../assets/images/projects/local/2016-homeless.jpg" class="card-img" alt="homeless">
            </div>
            <div class="col-md-5">
                <div class="card-body">
                    <h5 class="card-title">Homeless Shelter Care Packages</h5>
                    <p class="card-text">Purposes:
                        <li>Abridge social differences.</li>
                        <li>Redistributing community wealth by delivering care packages.</li>
                    </p>
                    <a routerLink="/local/care-packages">Learn More</a>
                    <p class="card-text"><small class="text-muted">2016 - Present</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-6" style="max-width: 800px;">
        <div class="row">
            <div class="col-md-7">
                <img src="../../assets/images/projects/local/2016-camp-for-kids.jpg" class="card-img" alt="kids-camps">
            </div>
            <div class="col-md-5">
                <div class="card-body">
                    <h5 class="card-title">Children's Camps</h5>
                    <p class="card-text">Purposes:
                        <li>Spread awareness for our international causes.</li>
                        <li> Inspire the younger generation to demand for change</li>
                    </p>
                    <a routerLink="/local/children-camps">Learn More</a>
                    <p class="card-text"><small class="text-muted">2016 - Present</small></p>
                </div>
            </div>
        </div>
    </div>
</div>